@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff');
  src: local('MullerRegular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegularItalic.woff');
  src: local('MullerRegular'),
    url('../fonts/MullerRegularItalic.woff2') format('woff2'),
    url('../fonts/MullerRegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff');
  src: local('MullerMedium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff');
  src: local('MullerBold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  width: 100%;
}

.btn-reset:hover {
  cursor: pointer;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Muller', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black-color);
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1174px;
  width: 100%;
}

section {
  padding: 94px 0;
}

:root {
  --black-color: #121723;
  --uniq-black-color: #292E39;
  --white-color: #fff;
  --light-blue-color: #6D31EE;
  --dark-blue-color: #4F28A5;
  --middle-blue-color: #AA9DFA;
  --middle-grey-color: #A1A6B4;
  --light-grey-color: #E6E8EC;
  --light-yellow-color: #F0D288;
  --dark-yellow-color: #BB973E;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h2 {
  font-size: 48px;
  line-height: 48px;
}

h3 {
  font-size: 20px;
  line-height: 20px;
}

.ellipsoid-btn-big {
  padding: 25px 35px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--white-color);
  border-radius: 40px;
  background-color: var(--light-blue-color);
}

.ellipsoid-btn-small {
  padding: 17px 43px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: var(--black-color);
  border-radius: 77px;
  border: 2px solid var(--black-color);
}

/* header */

.header {
  padding: 34px 0;
}

.header__container {
  justify-content: space-between;
}

.header__logo {
  margin-right: 70px;
}

.header__nav {
  margin-right: auto;
  max-width: 59%;
  width: 100%;
}

.nav__list_header {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav__link_header {
  padding: 4px 10px;
  font-size: 20px;
  line-height: 20px;
  transition: color 0.1s linear, background 0.1s linear;
}

.nav__link_header:hover {
  color: var(--light-blue-color);
}

.nav__link_header:focus {
  color: var(--white-color);
  background-color: var(--middle-blue-color);
  outline: none;
}

.nav__link_header:active {
  color: var(--dark-blue-color);
  background-color: transparent;
}

.header__btn {
  max-width: fit-content;
}

.btn-search-svg path {
  transition: stroke 0.1s linear;
}

.header__btn:hover .btn-search-svg path {
  stroke: var(--middle-blue-color);
}

.header__btn:focus .btn-search-svg path {
  stroke: var(--middle-blue-color);
}

.header__btn:active .btn-search-svg path {
  stroke: var(--dark-blue-color);
}

/* hero */

.hero {
  padding-top: 23px;
  padding-bottom: 32px;
}

.hero__container {
  align-items: center;
  justify-content: space-between;
}

.hero__info {
  /* padding-top: 86px;
  padding-bottom: 94px; */
  max-width: 58%;
  width: 100%;
}

.hero__btn {
  max-width: 245px;
  min-height: 70px;
  transition: background 0.1s linear, outline 0.1s linear;
}

.hero__btn:hover {
  background-color: var(--middle-blue-color);
}

.hero__btn:focus {
  background-color: var(--middle-blue-color);
  outline: 2px solid var(--dark-blue-color);
}

.hero__btn:active {
  background-color: var(--dark-blue-color);
  outline: transparent;
}

h1 {
  margin-bottom: 13px;
  font-size: 60px;
  line-height: 60px;
}

.hero__info p {
  margin-bottom: 46px;
  line-height: 24px;
}

.hero__picture {
  /* padding: 21px 0; */
}

/* podcasts */

.podcasts {
  background-color: var(--light-grey-color);
}

.podcasts__container h2 {
  margin-bottom: 30px;
}

.podcasts__list {
  justify-content: space-between;
}

.podcasts__item {
  margin-bottom: 30px;
  max-width: 48.6%;
  width: 100%;
  background-color: var(--white-color);
}

.podcasts__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.podcasts__image-card {
  position: relative;
  line-height: 0;
}

.podcasts__picture img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.podcasts__date {
  position: absolute;
  padding: 3px 0;
  left: 0;
  bottom: 0;
  max-width: 51px;
  width: 100%;
  min-height: 16px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: var(--light-grey-color);
}

.podcasts__info {
  padding-top: 40px;
  padding-left: 30px;
  max-width: 70%;
  width: 100%;
}

.podcasts__time {
  display: block;
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 12px;
}

.podcasts__info h3 {
  margin-bottom: 1px;
}

.podcasts__author {
  font-size: 16px;
  line-height: 16px;
  color: var(--middle-grey-color);
}

/* shows */

/* .shows {
  position: relative;
} */

.shows__container {
  position: relative;
  justify-content: space-between;
}

.shows__container>* {
  max-width: 100%;
}

.shows__list {
  padding-top: 14px;
  max-width: 74.4%;
  width: 100%;
  justify-content: space-between;
}

.shows__item {
  margin-bottom: 28px;
  flex-wrap: nowrap;
  max-width: 31%;
  width: 100%;
}

.shows__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.shows__pic img {
  display: block;
  width: 100%;
  /* height: 148px; */
  object-fit: cover;
}

.shows__info {
  padding: 20px 16px;
  flex-grow: 1;
  border: 1px solid var(--light-grey-color);
  min-height: 112px;
}

.shows__info>* {
  max-width: 100%;
}

.shows__name {
  margin-bottom: 2px;
  font-weight: 500;
}

.shows__date {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 12px;
  color: var(--middle-grey-color);
}

.shows__btn {
  /* padding-right: 28px; */
  padding: 2px;
  margin-top: auto;
  align-self: flex-start;
  font-size: 16px;
  line-height: 16px;
  font-style: italic;
  max-width: fit-content;
  transition: color 0.1s linear, background 0.1s linear;
  /* background-image: url(../img/shows-btn-arrow.svg);
  background-repeat: no-repeat;
  background-position: right; */
}

.shows__btn svg path {
  transition: fill 0.1s linear;
}

.shows__btn:hover,
.shows__btn:hover svg path {
  color: var(--light-blue-color);
  fill: var(--light-blue-color);
}

.shows__btn:focus,
.shows__btn:focus svg path {
  color: var(--white-color);
  fill: var(--white-color);
  background-color: var(--middle-blue-color);
  outline: transparent;
}

.shows__btn:active,
.shows__btn:active svg path {
  color: var(--dark-blue-color);
  fill: var(--dark-blue-color);
  background-color: transparent;
}

.shows__archive {
  position: absolute;
  bottom: 0;
  /* left: 405px; */
  max-width: 255px;
}

.archive__picture {
  margin-bottom: 20px;
}

.archive__btn {
  padding: 10px 43px;
  margin-bottom: 13px;
  max-width: 63%;
}

.shows__archive p {
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: var(--middle-grey-color);
}

/* guests */

.guests {
  background-color: var(--black-color);
}

.guests__container h2,
.guests__container h3 {
  color: var(--white-color);
}

.guests__container span,
.guests__container p {
  color: var(--middle-grey-color);
}

.guests__container h2 {
  margin-bottom: 12px;
}

.we-have-topic {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.we-have-list {
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 32px;
  max-width: 75%;
  width: 100%;
}

.guests__item {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  max-width: 83%;
  width: 100%;
  justify-content: space-between;
}

.guests__item:last-child {
  margin-bottom: 0;
}

.guests__picture img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.guests__info {
  max-width: 50%;
  width: 100%;
}

.guests__info>* {
  max-width: 100%;
}


.guests__info h3 {
  margin-bottom: 8px;
  font-weight: 500;
}

.guests__info p {
  font-size: 16px;
  line-height: 28.8px;
}

.guests__broadcast-btn {
  padding: 10px 10px;
  margin-top: auto;
  max-width: 160px;
  color: var(--middle-blue-color);
  border-color: inherit;
  transition: color 0.1s linear, background 0.1s linear, border 0.1s linear;
}

.guests__broadcast-btn:hover {
  color: var(--white-color);
  background-color: var(--middle-blue-color);
  border-color: transparent;
}

.guests__broadcast-btn:focus {
  color: var(--white-color);
  background-color: var(--light-blue-color);
  border-color: transparent;
  outline: transparent;
}

.guests__broadcast-btn:active {
  color: var(--white-color);
  background-color: var(--dark-blue-color);
  border-color: transparent;
}

/* playlists */

.playlists__container {
  justify-content: space-between;
}

.playlists__topic {
  max-width: 30%;
  width: 100%;
}

.playlists__topic>* {
  max-width: 100%;
}

.playlists__topic h2 {
  margin-bottom: 12px;
}

.playlists__topic p {
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 22px;
  color: var(--middle-grey-color);
}

.copyright {
  display: block;
  margin-bottom: 7px;
  max-width: 100%;
  width: fit-content;
  font-style: italic;
  color: var(--middle-grey-color);
}

.playlists__list {
  padding-top: 13px;
  max-width: 65.7%;
  width: 100%;
  justify-content: space-between;
}

.playlists__item {
  margin-bottom: 30px;
  max-width: 22%;
  width: 100%;
}

.playlists__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.playlists__image-card {
  position: relative;
  line-height: 0;
}

.playlists__picture img {
  width: 100%;
  object-fit: cover;
  height: -webkit-fill-available;
}

.country {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}

.playlists__info {
  padding: 15px;
  padding-bottom: 13px;
  flex-grow: 1;
  border: 1px solid var(--light-grey-color);
  max-width: 100%;
  width: 100%;
}

.playlists__info>* {
  max-width: 100%;
}

.playlists__info h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.playlists__info span {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: var(--middle-grey-color);
}

/* market */

.market {
  padding-bottom: 139px;
  background-color: var(--uniq-black-color);
  color: var(--white-color);
}

.market__container {
  justify-content: space-between;
}

.market__image-card {
  position: relative;
  line-height: 0;
}

.market__picture img {
  transform: translate(-1%, 1%);
  object-fit: contain;
}

.market__label {
  position: absolute;
  left: -1%;
}

.market__info {
  max-width: 40%;
  width: 100%;
}

.market__info>* {
  max-width: 100%;
}

.market__info h2 {
  margin-bottom: 18px;
  color: var(--light-yellow-color);
}

.market-wave {
  margin-bottom: 20px;
  height: 10px;
  width: 100%;
  max-width: 100%;
  background-image: url('../img/market-footer-wave.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.market__info p {
  font-size: 16px;
  line-height: 28.8px;
}

.market__info p:first-of-type {
  margin-bottom: 13px;
}

.market__info p:last-of-type {
  margin-bottom: 30px;
}

.market__price {
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}

.market__buy-btn {
  display: flex;
  padding: 23px 12px;
  /* margin-top: auto; */
  justify-content: space-between;
  max-width: 300px;
  border-radius: 100px;
  border: 2px solid;
  color: var(--light-yellow-color);
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  transition: color 0.1s linear, border 0.1s linear, background 0.1s linear;
}

.market__buy-btn svg path {
  transition: fill 0.1s linear;
}

.market__buy-btn:hover,
.market__buy-btn:hover svg path:nth-child(1) {
  color: var(--black-color);
  background-color: var(--light-yellow-color);
  fill: var(--black-color);
}

.market__buy-btn:hover svg path:nth-child(2) {
  fill: var(--light-yellow-color);
}

.market__buy-btn:focus {
  color: var(--black-color);
  background-color: var(--dark-yellow-color);
  border: 2px solid var(--light-yellow-color);
  outline: transparent;
}

.market__buy-btn:active,
.market__buy-btn:active svg path:nth-child(1) {
  color: var(--black-color);
  background-color: var(--dark-yellow-color);
  fill: var(--black-color);
  border: 2px solid var(--dark-yellow-color);
}

.market__buy-btn:active svg path:nth-child(2) {
  fill: var(--dark-yellow-color);
}

.market__buy-btn>* {
  max-width: 100%;
}

.market__buy-btn span {
  align-self: center;
}

/* about */

.about {
  padding-top: 91px;
  background-color: var(--black-color);
  color: var(--middle-grey-color);
}

.about h2,
.about h3 {
  color: var(--white-color);
}

.about__topic {
  margin-bottom: 28px;
  justify-content: space-between;
}

.about__info {
  max-width: 58%;
  width: 100%;
}

.about__info>* {
  max-width: 100%;
}

.about h2 {
  margin-bottom: 12px;
}

.about__info span {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.about__info p {
  font-size: 20px;
  line-height: 32px;
}

.about__decorations {
  justify-content: space-between;
  max-width: 40%;
  width: 100%;
}

.spiral {
  background-image: url('../img/spiral-desktop.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 160px;
  height: 290px;
}

.star {
  transform: translateY(7%);
  background-image: url('../img/star-desktop-tablet.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 255px;
  width: 255px;
}

.about__list {
  margin-bottom: 29px;
  justify-content: space-between;
}

.about__item {
  max-width: 23%;
  width: 100%;
}

.about__item>* {
  max-width: 100%;
}

.about__person {
  display: block;
  margin-bottom: 25px;
}

.about__person img {
  width: 100%;
}

.about__item h3 {
  margin-bottom: 7px;
}

.about__item p {
  line-height: 24px;
}

.review-form {
  max-width: 83%;
  width: 100%;
  border-color: var(--white-color);
  color: var(--middle-grey-color);
  font-size: 20px;
  line-height: 20px;
}

.review-form textarea,
.review-form input {
  color: var(--white-color);
}

.review-form textarea {
  margin-bottom: 30px;
  padding: 30px 32px;
  max-height: 150px;
  max-width: 100%;
  border-radius: 30px;
  background-color: transparent;
}

.form-input-element {
  border-color: var(--white-color);
  transition: color 0.1s linear, border 0.1s linear, background 0.1s linear;
}

.form-input-element:hover {
  background-color: var(--uniq-black-color);
}

.form-input-element:focus {
  background-color: var(--uniq-black-color);
  border-color: var(--middle-blue-color);
  outline: transparent;
}

.form-input-element:active {
  background-color: transparent;
  border-color: var(--white-color);
  color: var(--white-color);
}

.form-input-element:invalid {
  background-color: transparent;
  border-color: #D52B1E;
}

.reviewer {
  margin-bottom: 30px;
  justify-content: space-between;
}

.reviewer input {
  padding: 23px 30px;
  max-width: 48.5%;
  width: 100%;
  border-radius: 40px;
  background-color: transparent;
}

.review-send-btn {
  margin-bottom: 25px;
  max-width: 212px;
  transition: background 0.1s linear, outline 0.1s linear;
}

.review-send-btn:hover {
  background-color: var(--middle-blue-color);
}

.review-send-btn:focus {
  background-color: var(--middle-blue-color);
  outline: 2px solid var(--dark-blue-color);
}

.review-send-btn:active {
  background-color: var(--dark-blue-color);
  outline: transparent;
}

.review-agreement {
  user-select: none;
  cursor: pointer;
  width: fit-content;
}

.review-agreement-checkbox {
  position: absolute;
  appearance: none;
}

.review-agreement-text {
  position: relative;
  padding-left: 22px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
}

.review-agreement-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 13px;
  height: 13px;
  border: 1px solid var(--white-color);
}

.review-agreement-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  background-image: url(../img/checkbox-tick.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.review-agreement-checkbox:checked+.review-agreement-text::after {
  opacity: 1;
}

.review-agreement-checkbox:focus+.review-agreement-text {
  outline: 1px solid black;
  outline-offset: 2px;
}

/* footer */

.footer {
  padding-top: 92px;
  background-color: var(--uniq-black-color);
  color: var(--white-color);
}

.footer__container {
  margin-bottom: 75px;
}

.footer__top {
  max-width: 100%;
  width: 100%;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__left {
  height: fit-content;
}

.external-links {
  max-width: 70%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer__link svg path {
  transition: fill 0.1s linear;
}

.footer__link:hover svg path {
  fill: var(--light-blue-color);
}

.footer__link:focus svg path {
  fill: var(--middle-blue-color);
}

.footer__link:active svg path {
  fill: var(--dark-blue-color);
}

.footer__nav {
  display: flex;
  max-width: 40.5%;
  width: 100%;
  line-height: 0;
}

.nav__list_footer {
  max-width: 100%;
  width: 100%;
  max-height: 110px;
  align-content: space-between;
}

.nav__item_footer {
  margin-bottom: 19px;
  width: fit-content;
}

.nav__link_footer {
  padding: 3px 5.5px;
  padding-bottom: 1px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--white-color);
  transition: color 0.1s linear, background 0.1s linear;
}

.nav__link_footer:hover {
  color: var(--light-blue-color);
}

.nav__link_footer:focus {
  color: var(--white-color);
  background-color: var(--middle-blue-color);
  outline: none;
}

.nav__link_footer:active {
  color: var(--dark-blue-color);
  background-color: transparent;
}

.footer__bottom {
  align-items: center;
}

.footer__wave {
  margin-bottom: 10px;
  max-width: 100%;
  width: 100%;
  height: 10px;
  background-image: url('../img/market-footer-wave.svg');
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
